apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage-system

helmCharts:
  - name: localpv-provisioner
    repo: https://openebs.github.io/dynamic-localpv-provisioner
    releaseName: lpv-provisioner
    version: 4.4.0
    valuesFile: openebs-lpv.values.yaml
