mimir:
  structuredConfig:
    common:
      storage:
        backend: filesystem
        filesystem:
          dir: /data/mimir
    blocks_storage:
      backend: filesystem
      filesystem:
        dir: /data/mimir/data
    alertmanager_storage:
      backend: filesystem
      filesystem:
        dir: /data/mimir/alertmanager
    ruler_storage:
      backend: filesystem
      filesystem:
        dir: /data/mimir/ruler

minio:
  enabled: false
