apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

resources:
  - ../base

patches:
  - target:
      kind: DaemonSet
      name: kube-router
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args/3
        value: --run-service-proxy=true
