apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-system
helmCharts:
  - name: traefik
    repo: https://traefik.github.io/charts
    releaseName: traefik
    version: 27.0.0
    includeCRDs: true
    valuesFile: traefik.values.yaml
