persistence:
  enabled: true
  type: pvc
  size: 10Gi

adminPassword: admin

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://kube-prometheus-stack-prometheus.observability-system.svc.cluster.local:9090
        access: proxy
        isDefault: true
      - name: Loki
        type: loki
        url: http://loki.observability-system.svc.cluster.local:3100
        access: proxy
      - name: Tempo
        type: tempo
        url: http://tempo.observability-system.svc.cluster.local:3100
        access: proxy
      - name: Mimir
        type: prometheus
        url: http://mimir-nginx.observability-system.svc.cluster.local:80/prometheus
        access: proxy

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
