grafana:
  enabled: true
  persistence:
    enabled: true
    size: 10Gi
prometheus:
  enabled: true
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ['ReadWriteOnce']
          resources:
            requests:
              storage: 50Gi
alertmanager:
  enabled: true
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          accessModes: ['ReadWriteOnce']
          resources:
            requests:
              storage: 10Gi
