apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-system
helmCharts:
  - name: traefik
    repo: https://traefik.github.io/charts
    releaseName: traefik
    version: 38.0.1
    includeCRDs: false
    valuesFile: traefik.values.yaml
