# NodeLocal DNSCache Helm Chart Values
# Chart: node-local-dns
# Repository: https://charts.deliveryhero.io/
# Version: 2.1.1

fullnameOverride: 'dns-cache'

config:
  # DNS domain
  dnsDomain: cluster.local

  # Upstream DNS service (CoreDNS)
  dnsServer: 10.43.0.10

  # Local DNS cache IP address
  localDns: 169.254.20.10

  # Set communication protocol. Options are `prefer_udp` or `force_tcp`
  fcommProtocol: 'force_tcp'

  # CoreDNS custom configuration
  customConfig: |
    seaweedfs.svc.cluster.local:53 {
        errors
        cache 5 {         
            success 10000 5
            prefetch 5 5s 10%
        }
        bind 169.254.20.10
        forward . 10.43.0.10 {
            force_tcp
        }
    }

    mongodb.svc.cluster.local:53 {
        errors
        cache 5 {         
            success 10000 5
            prefetch 5 5s 10%
        }
        bind 169.254.20.10
        forward . 10.43.0.10 {
            force_tcp
        }
    }
    cluster.local:53 {
        errors
        cache 30 {         
            success 10000 30
            prefetch 10 30s 20%
        }
        bind 169.254.20.10
        forward . 10.43.0.10 {
            force_tcp
        }
    }

    # Mặc định cho Internet
    .:53 {
        errors
        cache 60
        bind 169.254.20.10
        forward . 10.43.0.10 {
            force_tcp
        }
    }

# DaemonSet configuration
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 25%

resources:
  requests:
    cpu: 25m
    memory: 25Mi
  limits:
    memory: 50Mi

serviceMonitor:
  enabled: true
  labels: {}
  path: /metrics
  honorLabels: false
  interval: 30s
  scrapeTimeout: 30s
  metricRelabelings: []
  relabelings: []
  namePrefix: ''
  prometheusNamespace: observability

dashboard:
  enabled: true
  namespace: observability
  label: grafana_dashboard
  annotations: {}
